<h1>Hello World</h1>

<div>
Fecha de hoy: <%= Date.today %>
</div>
<div>
<%= @frantrial.each do |frantrial| %>
    <h2><%= frantrial.title %></h2>
    <h3><%= frantrial.description %></h3>
    </div>
<% end %>